/* -------------------------------------------------
		Stylesheet : Fonts.css
	    Author: Jorge Luis Mayorga
		Update : 03/01/18
	------------------------------------------------- */

/* --------------------------------------------------------- */
/* FUNDAMENTALS
/* --------------------------------------------------------- */
video{
    display: none;
}
#cnOut{
        position: absolute;
        width: 100vw;
    height: calc(100vh - 100px);
    z-index: 20;
}
/* --------------------------------------------------------- */



/* --------------------------------------------------------- */
/* View LVE */
/* --------------------------------------------------------- */
.vw-live{
        display: flex;
background-color: black;
    flex-direction: column;
    justify-content: center;
}
/* --------------------------------------------------------- */