/* -------------------------------------------------
		Stylesheet : Fonts.css
	    Author: Jorge Luis Mayorga
		Update : 03/01/18
	------------------------------------------------- */

/* --------------------------------------------------------- */

/* FUNDAMENTALS
/* --------------------------------------------------------- */

video {
    display: none;

}

#cnOut {
    position: absolute;
    z-index: 20;
}

#cnIn {
    display: none;
}

/* --------------------------------------------------------- */

/* --------------------------------------------------------- */

/* View LVE */

/* --------------------------------------------------------- */

.vw-live.view-on-top {

    
    
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    
   
}

/* --------------------------------------------------------- */
